################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BattleshipUI.SC2Map/v16
/.vs
